/* global */

body {
	background-color: #BEE3DB;
	height: 100vh;
	width: 100vw;
	color: #FAF9F9;
	position: fixed;
	overflow: scroll;
}

button {
	padding-bottom: 3px;
}

.icon_button {
	background-color: unset;
	font-size: 35px;
	border: 0px;
	color: #FAF9F9;
	padding: 0 1%;
}

.form-control {
	background-color: rgba(250, 249, 249, 0.74);
}

/* header */

header {
	background-color: #16697a;
}

nav div {
	min-width: 100px;
	text-align: end;
}

header button {
	display: none;
}

/* circle progress */

#svg_container {
	height: 60vmin;
	width: 60vmin;
}

#svg_container {
	position: relative;
}

#svg_container > svg {
	width: inherit;
	height: inherit;
	position: absolute;
	left: 0;
	top: 0;
}

/* sidebar */

#sidebar > div {
	border: 2px #489fb5d2 solid;
	border-radius: 10px;
	margin: 15px;
	padding: 2px 15px;
}

@media (max-width: 575.98px) {
	header .icon_button {
		display: inline-block;
	}
	#sidebar {
		margin-left: -100%;
		transition: all 0.3s;
		z-index: 10;
		padding-bottom: 80px;
		min-height: 90vh;
		max-height: 90vh;
		background-color: rgba(190, 227, 219, 0.932);
	}
	#sidebar.active {
		margin-left: 0;
		transition: all 0.3s;
	}
	#main_container {
		position: fixed;
	}
	#svg_container {
		height: 75vmin;
		width: 75vmin;
	}
	#mission_list {
		max-height: 70vh;
	}
}

/* digital_clock */

#digital_clock {
	font-size: 2rem;
	background-color: #16697a;
	color: #ffa62b;
}

/* mission list */

#mission_list {
	max-height: 55vh;
	min-height: 55vh;
}

.missions {
	position: relative;
	border-bottom: 1px solid;
	word-wrap: break-word;
	font-weight: bold;
	vertical-align: middle;
	padding: 3% 0;
}

.missions .icon_button {
	float: right;
	font-size: initial;
}

.missions .icon_button svg {
	max-width: 25px;
}

/* timer */

#tomato_clock {
	font-size: 4rem;
	font-weight: 700;
}

#min_settin_btn_group {
	margin: 0;
	top: -2.5%;
	left: -2.5%;
	height: 105%;
	width: 105%;
}

#min_settin_btn_group div {
	margin: 0;
	padding: 0;
	line-height: 0;
	position: absolute;
	height: 1px;
	width: 1px;
}

p {
	color: #489fb5;
	font-size: 3vmin;
	font-weight: 700;
	position: relative;
	left: -2.5vmin;
	top: -2.5vmin;
	z-index: 50;
	height: 5vmin;
	width: 5vmin;
	line-height: 4.5vmin;
}

p:hover {
	border: 1px solid #FAF9F9;
	border-radius: 50%;
	background-color: #FAF9F9;
}