/* || variables */

:root {
	--light-green: #BEE3DB;
	--white: #FAF9F9;
	--dark-green: #16697a;
	--medium-green: #489fb5d2;
	--orange: #ffa62b;
	--contentM: '0';
	--contentS: 'yyyyy';
}

/* || global */

body {
	background-color: var(--light-green);
	height: 100vh;
	width: 100vw;
	color: var(--white);
	position: fixed;
	/* 讓整體畫面固定 */
}

main {
	height: calc(100vh - 70px);
	/* 減去 header 的高度 */
	padding-right: 10px;
	/* 避免 number group 右側數字太靠近邊界 */
	font-family: 'Pangolin', 'Noto Sans TC', sans-serif;
}

main div {
	height: inherit;
	/* 讓 div 高度都占滿畫面 */
}

main>div>div div {
	height: initial;
	/* 回復之後各層 div 高度 */
}

#sidebar {
	font-size: 1.2rem;
	padding: 25px;
	height: inherit;
	/* 撐開 main 的高度讓右測  */
}

.icon_button {
	background-color: unset;
	border: 0px;
	color: var(--white);
	line-height: 0;
	padding: 5px;
}

.icon_button:hover {
	color: var(--white);
}

.icon_button:focus {
	outline: none;
}

.icon_button svg {
	width: 1.8rem;
	height: 1.8rem;
}

.form-control {
	background-color: rgba(250, 249, 249, 0.74);
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* || header */

header {
	background-color: var(--dark-green);
	padding-left: 30px;
	height: 70px;
}

#current_mission {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	font-size: 5vmin;
	background-color: var(--dark-green);
	height: 70px;
	margin-left: -1px;
	text-align: center;
	padding-left: 0;
}

.navbar-brand {
	margin: 0;
	/* 為了置中，去掉 bootstrap 預設的 margint right */
}

header>button {
	display: none;
	/* 由 javaScript 控制 */
}

.rotate {
	transform: rotate(270deg);
}

.transform {
	-webkit-transition-property: transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

/* || sidebar */

#sidebar>div {
	border: 2px var(--medium-green) solid;
	border-radius: 10px;
	margin: 15px 0;
}

/* digital_clock */

#digital_clock {
	background-color: var(--dark-green);
	color: var(--orange);
	font-size: 2em;
}

/* mission list */

#mission_list div:first-child {
	border-color: var(--medium-green);
	border-width: 3px;
}

.missions {
	position: relative;
	border-bottom: 1px var(--white) solid;
	border-bottom-left-radius: 3px;
	font-weight: bold;
	margin: 3% 5%;
	padding: 0.8rem 0;
	text-align: center;
	font-size: 1.2em;
	overflow-wrap: break-word;
}

.missions .icon_button {
	color: var(--white);
	float: right;
	/* 不使用 absolute 避免文字和 icon button 重疊 */
	margin-left: 8px;
}

.missions span {
	font-size: 0.8em;
	position: absolute;
	bottom: -0.6rem;
	right: 0;
	background-color: var(--light-green);
	padding-left: 8px;
	line-height: 1;
}

#mission_input_btn>svg {
	height: 2rem;
	width: 2rem;
}

/* || main */

/* circle progress */

#svg_container {
	position: relative;
	height: 57vmin;
	width: 57vmin;
	margin: 6vmin 0;
}

#svg_container>svg {
	width: 90%;
	height: 90%;
	position: absolute;
	left: 5%;
	top: 5%;
}

/* || timer control*/

.timer_control {
	position: absolute;
	bottom: 23%;
	width: 100%;
	height: fit-content;
}

#tomato_clock {
	font-size: 9vmin;
	font-weight: 700;
	width: 100%;
}

.timer_control svg {
	width: 13vmin;
	height: 13vmin;
}

#repeat_switch svg {
	width: 9vmin;
	height: 9vmin;
}

.repeat_switch {
	color: var(--medium-green);
}

/* || number group */

#number_group {
	margin: 0;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}

#number_group div {
	/* 只作為定位點 */
	margin: 0;
	padding: 0;
	line-height: 0;
	position: absolute;
	height: 1px;
	width: 1px;
}

p {
	color: var(--medium-green);
	font-size: 4vmin;
	font-weight: 700;
	position: relative;
	left: -2.5vmin;
	top: -2.5vmin;
	z-index: 50;
	height: 5vmin;
	width: 5vmin;
	line-height: 4.5vmin;
}

p:hover {
	border: 1px solid var(--white);
	border-radius: 50%;
	background-color: var(--white);
}

/* || max-width: 575.98px */

@media (max-width: 767.9px) {
	main {
		padding: initial;
		height: calc(100vh - 140px);
	}
	header {
		height: initial;
	}
	header .icon_button {
		display: inline-block;
	}
	#current_mission {
		overflow: initial;
		white-space: unset;
		line-height: initial;
		font-size: 2rem;
		background-color: initial;
		width: 100%;
		padding: 0 30px;
		top: 3vh;
	}
	#sidebar {
		margin-left: -100%;
		/* 藏到左側可視範圍外 */
		transition: all 0.3s;
		z-index: 10;
		background-color: rgba(190, 227, 219, 0.932);
		top: -70px;
		height: calc(100vh - 70px);
	}
	#sidebar.active {
		margin-left: 0;
		transition: all 0.3s;
	}
	#main_container {
		position: fixed;
		/* 避免 sidebar 回到畫面中時 svg_container 被推開 */
	}
	::-webkit-scrollbar {
		display: none;
	}
	#svg_container {
		height: 83vmin;
		width: 83vmin;
		font-size: 2rem;
	}
	p {
		font-size: 6vmin;
		left: -4.6vmin;
		top: -4.6vmin;
		height: 9vmin;
		width: 9vmin;
		line-height: 9vmin;
	}
	#timer_control svg {
		width: 20vmin;
		height: 20vmin;
	}
	#repeat_switch svg {
		width: 15vmin;
		height: 15vmin;
	}
}